Repository CloudNetService/CloudNet, pull requests merged in 2022-08, with the labels that each got.

#743 chore: improve java version handling
  common/src/main/java/eu/cloudnetservice/common/JavaVersion.java
  common/src/test/java/eu/cloudnetservice/common/JavaVersionTest.java
  driver/src/main/java/eu/cloudnetservice/driver/module/ModuleConfiguration.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeServiceTaskProvider.java
  node/src/main/java/eu/cloudnetservice/node/util/JavaVersionResolver.java
  node/src/main/java/eu/cloudnetservice/node/version/ServiceVersion.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, t: fix, t: improvement, in: common

#747 chore: update to minecraft 1.19.1
  gradle/libs.versions.toml
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/FabricDirectPlayerExecutor.java
  modules/bridge/src/main/resources/fabric.mod.json
  node/src/main/resources/files/versions.json
Labels: v: 4.X, t: improvement

#750 fix(node): fix the incrementation in the tick loop
  modules/smart/src/main/java/eu/cloudnetservice/modules/smart/listener/CloudNetTickListener.java
  node/src/main/java/eu/cloudnetservice/node/TickLoop.java
Labels: v: 4.X, in: node, t: fix, in: module

#756 chore(driver): rename the module helper
  driver/src/main/java/eu/cloudnetservice/driver/util/ModuleUtil.java
  node/src/main/java/eu/cloudnetservice/node/module/listener/PluginIncludeListener.java
Labels: v: 4.X, in: driver

#758 chore: misc dependency updates
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: v: 4.X, t: dependencies

#752 [ci skip] chore: mark some classes as internal
  common/src/main/java/eu/cloudnetservice/common/hash/HashUtil.java
  common/src/main/java/eu/cloudnetservice/common/io/ZipUtil.java
  common/src/main/java/eu/cloudnetservice/common/log/FallbackLoggerFactory.java
  common/src/main/java/eu/cloudnetservice/common/log/FallbackPassthroughLogger.java
  driver/src/main/java/eu/cloudnetservice/driver/event/invoker/ListenerInvokerGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/module/ModuleURLClassLoader.java
  driver/src/main/java/eu/cloudnetservice/driver/module/util/ModuleDependencyUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/network/exception/SilentDecoderException.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/HttpAnnotationProcessorUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/util/asm/AsmHelper.java
  driver/src/main/java/eu/cloudnetservice/driver/util/define/ClassDefiner.java
  driver/src/main/java/eu/cloudnetservice/driver/util/define/ClassDefiners.java
  driver/src/main/java/eu/cloudnetservice/driver/util/define/FallbackClassDefiner.java
  driver/src/main/java/eu/cloudnetservice/driver/util/define/LookupClassDefiner.java
Labels: v: 4.X, in: driver, t: improvement, in: common

#744 chore: remove duplicate code from task command
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: improvement

#751 chore(cloudperms): remove late permission function injection
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bukkit/BukkitCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bungee/BungeeCloudPermissionsPlayerListener.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/nukkit/NukkitCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/velocity/VelocityCloudNetCloudPermissionsPlugin.java
Labels: v: 4.X, in: module

#753 chore: run intellij code cleanup
  common/src/main/java/eu/cloudnetservice/common/log/io/LogOutputStream.java
  common/src/test/java/eu/cloudnetservice/common/io/ZipUtilTest.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/object/data/DataClassInvokerGenerator.java
  modules/database-mongodb/src/main/java/eu/cloudnetservice/modules/mongodb/MongoDBDatabaseProvider.java
  modules/database-mongodb/src/main/java/eu/cloudnetservice/modules/mongodb/config/MongoDBConnectionConfig.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/CloudNetNPCModule.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/NodeNPCManagement.java
  modules/smart/src/main/java/eu/cloudnetservice/modules/smart/listener/CloudNetTickListener.java
Labels: v: 4.X, in: driver, t: improvement, in: common, in: module

#759 fix: fabric forwading not applying the correct skins
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/mixin/forwarding/ServerLoginPacketListenerMixin.java
Labels: v: 4.X, t: fix, in: plugin

#749 feat: allow custom node selection implementations
  node/src/main/java/eu/cloudnetservice/node/event/service/CloudServiceNodeSelectEvent.java
  node/src/main/java/eu/cloudnetservice/node/service/CloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/DefaultCloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/NodeCloudServiceFactory.java
Labels: v: 4.X, in: node, t: improvement

#746 feat: introduce translated command descriptions
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/command/BridgeCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/command/PlayersCommand.java
  modules/dockerized-services/src/main/java/eu/cloudnetservice/modules/docker/DockerCommand.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/NPCCommand.java
  modules/report/src/main/java/eu/cloudnetservice/modules/report/command/ReportCommand.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/SignCommand.java
  modules/smart/src/main/java/eu/cloudnetservice/modules/smart/SmartCommand.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/node/command/SyncProxyCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/annotation/Description.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ClearCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ClusterCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ConfigCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/CreateCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/DebugCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ExitCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/GroupsCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/HelpCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/MeCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/MigrateCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ModulesCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/PermissionsCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ServiceCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TemplateCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/VersionCommand.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: improvement, in: module, t: translation

#757 fix: unregister all our bindings & listeners when stopping
  driver/src/main/java/eu/cloudnetservice/driver/util/ModuleUtil.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bukkit/BukkitBridgePlugin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/BungeeCordBridgePlugin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/minestom/MinestomBridgeExtension.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/nukkit/NukkitBridgePlugin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/sponge/SpongeBridgePlugin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/VelocityBridgePlugin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/WaterDogPEBridgePlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bukkit/BukkitCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bungee/BungeeCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/minestom/MinestomCloudPermissionsExtension.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/nukkit/NukkitCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/sponge/SpongeCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/velocity/VelocityCloudNetCloudPermissionsPlugin.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/waterdogpe/WaterdogPECloudPermissionsPlugin.java
  modules/labymod/src/main/java/eu/cloudnetservice/modules/labymod/platform/bungeecord/BungeeCordLabyModPlugin.java
  modules/labymod/src/main/java/eu/cloudnetservice/modules/labymod/platform/velocity/VelocityLabyModPlugin.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/BukkitNPCPlugin.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/CloudNetSignsModule.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/bukkit/BukkitSignsPlugin.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/minestom/MinestomSignsExtension.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/nukkit/NukkitSignsPlugin.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/sponge/SpongeSignsPlugin.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/bungee/BungeeCordSyncProxyPlugin.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/velocity/VelocitySyncProxyPlugin.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/waterdog/WaterDogPESyncProxyPlugin.java
  node/src/main/java/eu/cloudnetservice/node/module/NodeModuleProviderHandler.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
Labels: v: 4.X, in: driver, t: fix, in: plugin

#762 [ci skip] improve some command descriptions
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: translation

#761 feat: allow service creation retries
  driver/src/main/java/eu/cloudnetservice/driver/event/events/service/CloudServiceDeferredStateEvent.java
  driver/src/main/java/eu/cloudnetservice/driver/provider/CloudServiceFactory.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceCreateResult.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceCreateRetryConfiguration.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/BridgeServiceHelper.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerService.java
  modules/rest/src/main/resources/documentation/swagger.json
  modules/smart/src/main/java/eu/cloudnetservice/modules/smart/listener/CloudNetTickListener.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/CreateCommand.java
  node/src/main/java/eu/cloudnetservice/node/network/listener/message/ServiceChannelMessageListener.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/DefaultCloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/NodeCloudServiceFactory.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/ServiceCreateRetryTracker.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/network/listener/message/ServiceChannelMessageListener.java
Labels: v: 4.X, in: driver, t: improvement

#760 chore: use virtual threads for network processing if possible
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/util/ExecutorServiceUtil.java
  launcher/java17/src/main/resources/launcher.cnl
  node/src/main/java/eu/cloudnetservice/node/Node.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: driver, t: improvement

#763 chore: pull latest crowdin translation changes
  node/src/main/resources/lang/de_DE.properties
Labels: t: translation, s: accepted

#765 chore: pull latest crowdin translation changes
  node/src/main/resources/lang/de_DE.properties
Labels: t: translation, s: accepted

#766 chore: update dependencies
  build-extensions/build.gradle.kts
  gradle/libs.versions.toml
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorage.java
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/sshj/ActiveHeartbeatKeepAliveProvider.java
Labels: v: 4.X, t: dependencies

#767 fix(node): only allow actual files when trying to load a module
  node/src/main/java/eu/cloudnetservice/node/command/sub/ModulesCommand.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: fix

#768 chore: correctly mark interrupted threads as interrupted
  common/src/main/java/eu/cloudnetservice/common/log/defaults/ThreadedLogRecordDispatcher.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/rpc/DefaultRPC.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/rpc/DefaultRPCChain.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/ApplicationBootstrap.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/CloudPermissionsHelper.java
  node/src/main/java/eu/cloudnetservice/node/console/ConsoleReadThread.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/AbstractConsoleAnimation.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/ConsoleSetupAnimation.java
Labels: v: 4.X, t: fix

#772 ci: let build and tests run on zulu-19-ea as well.
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle.yml
Labels: v: 4.X, t: ci

#773 fix(minestom): load guava using dumb minestom dependencies
  gradle/libs.versions.toml
  modules/bridge/src/main/resources/extension.json
  modules/cloudperms/src/main/resources/extension.json
  plugins/simplenametags/src/main/resources/extension.json
  wrapper-jvm/src/main/resources/META-INF/services/org.jboss.shrinkwrap.resolver.spi.format.FormatProcessor
Labels: v: 4.X, t: fix, in: wrapper, in: plugin, in: module

#776 chore: remove unneeded wildcard type usages
  driver/src/main/java/eu/cloudnetservice/driver/event/events/permission/PermissionSetGroupsEvent.java
  driver/src/main/java/eu/cloudnetservice/driver/permission/PermissionManagement.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/player/NodePlayerManager.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/player/NodePlayerProvider.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/player/PlayerManager.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/player/PlayerProvider.java
  node/src/main/java/eu/cloudnetservice/node/permission/DefaultDatabasePermissionManagement.java
  node/src/main/java/eu/cloudnetservice/node/permission/DefaultPermissionManagementHandler.java
  node/src/main/java/eu/cloudnetservice/node/permission/NodePermissionManagement.java
  node/src/main/java/eu/cloudnetservice/node/permission/handler/PermissionManagementHandler.java
  node/src/main/java/eu/cloudnetservice/node/permission/handler/PermissionManagementHandlerAdapter.java
Labels: p: high, v: 4.X, t: fix

#774 chore: remove Glowstone support as it does not support Java 17
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceEnvironmentType.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/DefaultCloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/template/listener/TemplatePrepareListener.java
  node/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, in: driver

#778 fix(node): use mutable sets in the node config
  node/src/main/java/eu/cloudnetservice/node/config/JsonConfiguration.java
Labels: v: 4.X, in: node, t: fix

#779 fix(labymod): correct conversion of old configs
  modules/labymod/src/main/java/eu/cloudnetservice/modules/labymod/node/CloudNetLabyModModule.java
Labels: v: 4.X, t: fix, in: module

#711 [ci skip] chore: validate target branch when opening a pull request
  .github/workflows/prbranch.yml
Labels: v: 4.X

#781 fix(driver): travel all interfaces and write the supplier field
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/ApiImplementationGenerator.java
Labels: p: high, v: 4.X, in: driver, t: fix

#782 fix(node): add missing template command translation parameters
  node/src/main/java/eu/cloudnetservice/node/command/sub/TemplateCommand.java
Labels: v: 4.X, in: node, t: fix, p: low

#783 chore: prepare RC-1
  Jenkinsfile
  build-extensions/src/main/kotlin/Versions.kt
  launcher/java17/src/main/resources/launcher.cnl
  modules/rest/src/main/resources/documentation/swagger.json
Labels: s: blocked, v: 4.X

#771 chore: use sponge download api instead of hardcoded urls
  node/src/main/java/eu/cloudnetservice/node/version/execute/InstallStep.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/SpongeApiVersionFetchStepExecutor.java
  node/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, t: improvement

#786 [ci skip] ci: publish snapshots to sonatype on push to nightly
  .github/workflows/gradle.yml
Labels: v: 4.X, t: ci

#797 build: move sonatype repo in front of sponge repo
  build.gradle.kts
  modules/build.gradle.kts
Labels: v: 4.X, t: fix

#799 fix: fixup invalid command sender message
  node/src/main/java/eu/cloudnetservice/node/command/source/ConsoleCommandSource.java
  node/src/main/java/eu/cloudnetservice/node/command/source/DriverCommandSource.java
  node/src/main/java/eu/cloudnetservice/node/permission/command/PermissionUserCommandSource.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: fix

#802 fix: correctly resolve dependencies for cnl files during compile
  build-extensions/src/main/kotlin/extensions.kt
Labels: v: 4.X, t: fix, t: ci

#800 fix: properly rewrite service configuration files
  gradle/libs.versions.toml
  node/build.gradle.kts
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/AbstractServiceConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/BungeeConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/GlowstoneConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/VelocityConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/WaterdogPEConfigurationPreparer.java
Labels: v: 4.X, in: node, t: fix

#801 chore: pull latest crowdin translation changes
  node/src/main/resources/lang/de_DE.properties
Labels: t: translation, s: accepted

#805 feat: improve mysql database searches by introducing json columns
  driver/src/main/java/eu/cloudnetservice/driver/database/Database.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/player/NodePlayerManager.java
  modules/database-mongodb/src/main/java/eu/cloudnetservice/modules/mongodb/MongoDBDatabase.java
  modules/database-mongodb/src/test/java/eu/cloudnetservice/modules/mongodb/MongoDBDatabaseTest.java
  modules/database-mysql/src/main/java/eu/cloudnetservice/modules/mysql/MySQLDatabase.java
  modules/database-mysql/src/test/java/eu/cloudnetservice/modules/mysql/MySQLDatabaseTest.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerDatabase.java
  modules/rest/src/main/resources/documentation/swagger.json
  node/src/main/java/eu/cloudnetservice/node/database/LocalDatabase.java
  node/src/main/java/eu/cloudnetservice/node/database/h2/H2Database.java
  node/src/main/java/eu/cloudnetservice/node/database/sql/SQLDatabase.java
  node/src/main/java/eu/cloudnetservice/node/database/sql/SQLDatabaseProvider.java
  node/src/main/java/eu/cloudnetservice/node/database/xodus/XodusDatabase.java
  node/src/test/java/eu/cloudnetservice/node/database/h2/H2DatabaseTest.java
  node/src/test/java/eu/cloudnetservice/node/database/xodus/XodusDatabaseTest.java
Labels: v: 4.X, in: node, t: fix, t: improvement, in: module

#807 chore: replace usages of ConcurrentLinkedQueue with a proper set
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClient.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyWebSocketServerChannel.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/protocol/defaults/DefaultPacketListenerRegistry.java
  driver/src/main/java/eu/cloudnetservice/driver/registry/DefaultServiceRegistry.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/cloudflare/CloudFlareAPI.java
Labels: v: 4.X, in: node, t: improvement

#810 fix: resolve convert issues of old npc/sign entries
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/_deprecated/NPCConstants.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/CloudNetNPCModule.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/CloudNetSignsModule.java
Labels: v: 4.X, t: fix, in: module

#809 chore: use thread safe formats where needed
  common/src/main/java/eu/cloudnetservice/common/document/gson/JsonDocument.java
  common/src/main/java/eu/cloudnetservice/common/document/gson/SimpleDateFormatTypeAdapter.java
  common/src/main/java/eu/cloudnetservice/common/language/I18n.java
  common/src/main/java/eu/cloudnetservice/common/log/defaults/DefaultLogFormatter.java
  common/src/main/java/eu/cloudnetservice/common/unsafe/CPUUsageResolver.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/BridgeServiceHelper.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/command/PlayersCommand.java
  modules/report/src/main/java/eu/cloudnetservice/modules/report/emitter/ReportDataWriter.java
  modules/report/src/main/java/eu/cloudnetservice/modules/report/emitter/defaults/NodeServerDataEmitter.java
  modules/report/src/main/java/eu/cloudnetservice/modules/report/util/ReportConstants.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyTabList.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ClusterCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/MeCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/PermissionsCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ServiceCommand.java
  node/src/main/java/eu/cloudnetservice/node/console/log/ColouredLogFormatter.java
Labels: v: 4.X, t: fix

#813 chore: replace some AtomicXXX classes with their non-atomic equivalent
  driver/src/main/java/eu/cloudnetservice/driver/network/chunk/defaults/DefaultFileChunkedPacketHandler.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/NodeNPCManagement.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/configuration/SignLayoutsHolder.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/PlatformSignManagement.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyTabListConfiguration.java
Labels: v: 4.X, t: improvement

#812 fix: prevent double installation of modules
  common/src/main/java/eu/cloudnetservice/common/io/FileUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/module/DefaultModuleProvider.java
  node/src/main/java/eu/cloudnetservice/node/Node.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ModulesCommand.java
  node/src/main/java/eu/cloudnetservice/node/module/updater/ModuleUpdater.java
  node/src/main/java/eu/cloudnetservice/node/module/updater/ModuleUpdaterRegistry.java
  node/src/main/java/eu/cloudnetservice/node/module/util/ModuleJsonReader.java
  node/src/main/java/eu/cloudnetservice/node/module/util/ModuleUpdateUtil.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: fix

#816 [ci skip] docs: correctly specify what PlayerManager is doing
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/player/PlayerManager.java
Labels: v: 4.X, t: documentation, in: module

#821 [ci skip] chore: improve header style & output of me
  .github/ISSUE_TEMPLATE/bug_report.yml
  node/src/main/java/eu/cloudnetservice/node/command/sub/MeCommand.java
  node/src/main/resources/header.txt
Labels: v: 4.X, in: node, t: improvement

#824 chore(deps): bump checkstyle to 10.3.3
  build-extensions/src/main/kotlin/Versions.kt
Labels: v: 4.X, t: dependencies

#823 chore(deps): Update tj-actions/branch-names action to v6
  .github/workflows/gradle.yml
Labels: v: 4.X, t: dependencies, t: ci

#820 fix(sftp): properly close all ssh client connection
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPClientPool.java
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorage.java
Labels: v: 4.X, t: fix, t: improvement, in: module

#817 chore: improve cloudflare module
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/CloudNetCloudflareModule.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/cloudflare/CloudFlareAPI.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/cloudflare/CloudFlareRecordManager.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/cloudflare/DnsRecordDetail.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/config/CloudflareConfiguration.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/config/CloudflareConfigurationEntry.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/config/CloudflareGroupConfiguration.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/dns/DefaultDNSRecord.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/dns/DnsRecord.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/dns/DnsType.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/dns/SrvRecord.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/listener/CloudflareServiceStateListener.java
Labels: v: 4.X, t: improvement, in: module

#825 fix: correctly override methods from ServiceConfigurationBase#Builder
  driver/src/main/java/eu/cloudnetservice/driver/service/GroupConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceTask.java
Labels: v: 4.X, in: driver, t: fix

#828 fix: remove some checks from java version regex
  node/src/main/java/eu/cloudnetservice/node/util/JavaVersionResolver.java
Labels: v: 4.X, in: node, t: fix, t: improvement

#829 chore: improve logging when launcher update repo/branch wasn't found
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/CloudNetLauncher.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/updater/LauncherUpdaterRegistry.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/util/BootstrapUtil.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/util/HttpUtil.java
Labels: v: 4.X, t: improvement, in: launcher
