Repository CloudNetService/CloudNet, pull requests merged in 2022-11, with the labels that each got.

#955 fix: ensure correct download of inclusion files
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
Labels: v: 4.X, in: node, t: fix

#956 chore: make module lifecycle commands console only
  node/src/main/java/eu/cloudnetservice/node/command/sub/ModulesCommand.java
Labels: v: 4.X, in: node, t: fix

#957 chore: allow to disable bridge messages
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/config/BridgeConfiguration.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/network/NodePlayerChannelMessageListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bukkit/BukkitPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/BungeeCordPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/command/BungeeCordCloudCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/command/BungeeCordHubCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/minestom/MinestomPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/nukkit/NukkitPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/sponge/SpongePlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/VelocityPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/commands/VelocityCloudCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/commands/VelocityHubCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/WaterDogPEHandlers.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/WaterDogPEPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/command/WaterDogPECloudCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/command/WaterDogPEHubCommand.java
Labels: v: 4.X, t: improvement, in: module

#959 fix: correctly download sftp templates into the root service directory
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorage.java
Labels: p: high, v: 4.X, t: fix, in: module

#961 chore: use new instanceof check to get effective player locale
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/commands/VelocityCloudCommand.java
Labels: v: 4.X, t: improvement, in: module

#962 chore: improve informatiom access in command events
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandPostProcessor.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandPreProcessor.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandInvalidSyntaxEvent.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandNotFoundEvent.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandPostProcessEvent.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandPreProcessEvent.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandProcessEvent.java
Labels: v: 4.X, in: node, t: improvement

#963 chore: rename the ColouredLogFormatter to ColoredLogFormatter
  node/src/main/java/eu/cloudnetservice/node/BootLogic.java
  node/src/main/java/eu/cloudnetservice/node/Node.java
  node/src/main/java/eu/cloudnetservice/node/console/ConsoleColor.java
  node/src/main/java/eu/cloudnetservice/node/console/JLine3Console.java
  node/src/main/java/eu/cloudnetservice/node/console/log/ColoredLogFormatter.java
Labels: v: 4.X, in: node, t: improvement, p: low
