Repository CloudNetService/CloudNet, pull requests merged in 2022-07, with the labels that each got.

#695 chore: improve me command a bit
  node/src/main/java/eu/cloudnetservice/node/command/sub/MeCommand.java
Labels: v: 4.X, in: node, t: improvement

#698 chore: add support for compressed http responses
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerInitializer.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpServerTest.java
Labels: v: 4.X, in: driver, t: improvement

#697 [ci skip] chore: remove MethodHttpHandler
  driver/src/main/java/eu/cloudnetservice/driver/network/http/MethodHttpHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/MethodHttpHandlerAdapter.java
Labels: v: 4.X, in: driver, t: improvement

#696 feat: add support for annotated http handlers
  checkstyle.xml
  driver/src/main/java/eu/cloudnetservice/driver/network/http/HttpComponent.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/HttpContext.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/HttpContextPreprocessor.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/HttpHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/MethodHttpHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/MethodHttpHandlerAdapter.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/FirstRequestQueryParam.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/HttpRequestHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/Optional.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/RequestHeader.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/RequestPath.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/RequestPathParam.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/RequestQueryParam.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/AnnotationHttpHandleException.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/DefaultHttpAnnotationParser.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/HttpAnnotationParser.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/HttpAnnotationProcessor.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/HttpAnnotationProcessorUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/MethodHttpHandlerInvoker.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/ParameterInvocationHint.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/StaticContentHttpHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerContext.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerHandler.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpAnnotatedHandlerTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpServerTest.java
  node/src/main/java/eu/cloudnetservice/node/http/V2HttpHandler.java
  node/src/main/java/eu/cloudnetservice/node/http/annotation/BasicAuth.java
  node/src/main/java/eu/cloudnetservice/node/http/annotation/BearerAuth.java
  node/src/main/java/eu/cloudnetservice/node/http/annotation/SecurityAnnotationExtensions.java
Labels: v: 4.X, in: driver, t: improvement

#699 chore: add support for compressed http responses
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerInitializer.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpServerTest.java
Labels: v: 4.X, in: driver, t: improvement

#701 chore: improve console color handling
  node/src/main/java/eu/cloudnetservice/node/console/ConsoleColor.java
  node/src/main/java/eu/cloudnetservice/node/console/JLine3Console.java
Labels: v: 4.X, in: node, t: improvement

#700 fix: disable jline logging to prevent stack overflow exceptions
  node/src/main/java/eu/cloudnetservice/node/console/JLine3Console.java
Labels: v: 4.X, in: node, t: fix

#703 fix: use correct offset when copying http payload data
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerRequest.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerResponse.java
Labels: p: high, v: 4.X, in: driver, t: fix

#704 chore: allow retrieval of http body via annotation
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/RequestBody.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/DefaultHttpAnnotationParser.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpAnnotatedHandlerTest.java
Labels: v: 4.X, in: driver, t: improvement

#705 build: reduce exposed dependencies
  common/build.gradle.kts
  driver/build.gradle.kts
  modules/build.gradle.kts
  node/build.gradle.kts
  plugins/build.gradle.kts
  wrapper-jvm/build.gradle.kts
Labels: v: 4.X, t: dependencies

#709 chore: update to netty 5.0.0-Alpha3
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyUtil.java
  gradle/libs.versions.toml
Labels: v: 4.X, in: driver, t: dependencies

#713 chore: improve host and port parsing during setups
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/answer/Parsers.java
Labels: v: 4.X, in: node, t: improvement

#710 chore: migrate http handlers to annotation based api
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/ClassLoaderContentStreamProvider.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/ContentStreamProvider.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/FileContentStreamProvider.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/MultipleContentStreamProvider.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/content/StaticContentHttpHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/util/FileMimeTypeHelper.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/CloudNetBridgeModule.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/http/V2HttpHandlerBridge.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/CloudNetRestModule.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/RestUtil.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerAuthorization.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerCluster.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerDatabase.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerDocumentation.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerGroup.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerGroups.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerModule.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerNode.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerPermission.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerService.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerServiceVersionProvider.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerSession.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTask.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTasks.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplate.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplateStorage.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerWebSocketTicket.java
  modules/rest/src/main/resources/documentation/swagger.json
  node/src/main/java/eu/cloudnetservice/node/http/DefaultHttpSession.java
  node/src/main/java/eu/cloudnetservice/node/http/HttpSession.java
  node/src/main/java/eu/cloudnetservice/node/http/V2HttpAuthentication.java
  node/src/main/java/eu/cloudnetservice/node/http/V2HttpHandler.java
  node/src/main/java/eu/cloudnetservice/node/http/WebSocketAbleV2HttpHandler.java
  node/src/main/java/eu/cloudnetservice/node/http/annotation/SecurityAnnotationExtension.java
  node/src/main/java/eu/cloudnetservice/node/http/ticket/MemoryWebSocketTicketManager.java
  node/src/main/java/eu/cloudnetservice/node/http/ticket/WebSocketTicket.java
  node/src/main/java/eu/cloudnetservice/node/http/ticket/WebSocketTicketManager.java
Labels: v: 4.X, in: node, in: driver, t: fix, t: improvement, in: module

#712 [ci skip] chore: improve readme
  README.md
Labels: v: 4.X

#722 chore: increase timeouts when resolving dependencies
  build-extensions/src/main/kotlin/extensions.kt
Labels: v: 4.X, t: improvement

#721 chore: misc dependency updates
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: v: 4.X, t: dependencies

#716 fix: load wrapper network client certificates from the correct path
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
Labels: v: 4.X, in: node, t: fix

#718 chore: improve bridge localized message handling
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/config/BridgeConfiguration.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bukkit/BukkitPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bukkit/BukkitUtil.java
Labels: v: 4.X, t: fix, t: improvement, in: module

#717 chore: allow updates of service properties
  driver/src/main/java/eu/cloudnetservice/driver/provider/SpecificCloudServiceProvider.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/provider/EmptySpecificCloudServiceProvider.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/network/listener/message/ServiceChannelMessageListener.java
Labels: v: 4.X, in: driver, t: improvement

#715 docs: improve wrapper documentation
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/listener/PlatformInformationListener.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/configuration/DocumentWrapperConfiguration.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/configuration/WrapperConfiguration.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/event/ApplicationPostStartEvent.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/event/ApplicationPreStartEvent.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/event/ServiceInfoSnapshotConfigureEvent.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/transform/Transformer.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/transform/TransformerRegistry.java
Labels: s: blocked, v: 4.X, t: documentation, in: wrapper

#728 feat: Add command to rename tasks
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/resources/lang/en_US.properties
Labels: t: feature request, v: 4.X, in: node

#727 feat: Allow a host address on a per task basis
  driver/src/main/java/eu/cloudnetservice/driver/network/HostAndPort.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/DefaultHttpAnnotationParser.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceEnvironmentType.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceTask.java
  driver/src/test/java/eu/cloudnetservice/driver/network/NetworkTestCase.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/ApplicationBootstrap.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ClusterCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ConfigCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/java/eu/cloudnetservice/node/config/Configuration.java
  node/src/main/java/eu/cloudnetservice/node/config/JsonConfiguration.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/JVMService.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/BungeeConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/GlowstoneConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/NukkitConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/VanillaServiceConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/VelocityConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/WaterdogPEConfigurationPreparer.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/factory/AbstractServiceFactory.java
  node/src/main/java/eu/cloudnetservice/node/setup/DefaultConfigSetup.java
  node/src/main/java/eu/cloudnetservice/node/setup/SpecificTaskSetup.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
  node/src/main/resources/lang/en_US.properties
Labels: t: feature request, in: node, in: driver

#725 fix: Suggest whitelisted ips when removing them
  node/src/main/java/eu/cloudnetservice/node/command/sub/ConfigCommand.java
Labels: v: 4.X, in: node, t: improvement

#724 chore: allow partial overrides of bridge messages
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/config/BridgeConfiguration.java
Labels: v: 4.X, t: improvement, in: module

#723 chore: use `ROOT` locale for locale sensitive string operations
  common/src/main/java/eu/cloudnetservice/common/StringUtil.java
  common/src/main/java/eu/cloudnetservice/common/io/ZipUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/CloudNetDriver.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/DefaultHttpAnnotationParser.java
  driver/src/main/java/eu/cloudnetservice/driver/network/http/annotation/parser/MethodHttpHandlerInvoker.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/util/DefaultModuleHelper.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/cnl/CnlInterpreter.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/BridgeServiceProperties.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/command/NPCCommand.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerNode.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerService.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/bukkit/BukkitCompatibility.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/bukkit/BukkitPlatformSign.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/VersionCommand.java
  node/src/main/java/eu/cloudnetservice/node/config/ConfigurationUtil.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/node/database/h2/H2DatabaseProvider.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
  node/src/main/java/eu/cloudnetservice/node/version/ServiceVersionProvider.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/CopyFilterStepExecutor.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/PaperApiVersionFetchStepExecutor.java
  node/src/main/java/eu/cloudnetservice/node/version/information/FileSystemVersionInstaller.java
  node/src/main/java/eu/cloudnetservice/node/version/information/TemplateVersionInstaller.java
Labels: v: 4.X, t: fix

#730 chore: remove the connect host address
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceInfoSnapshot.java
  driver/src/test/java/eu/cloudnetservice/driver/network/rpc/object/DefaultObjectMapperTest.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/BungeeCordHelper.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/VelocityBridgeManagement.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/WaterDogPEBridgeManagement.java
  node/src/main/java/eu/cloudnetservice/node/cluster/util/NodeServerUtil.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ClusterCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/ServiceCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/java/eu/cloudnetservice/node/config/Configuration.java
  node/src/main/java/eu/cloudnetservice/node/config/JsonConfiguration.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/AbstractService.java
  node/src/main/java/eu/cloudnetservice/node/setup/DefaultConfigSetup.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
  node/src/main/resources/lang/en_US.properties
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
Labels: v: 4.X, in: node, in: driver, t: improvement, in: wrapper, in: module

#733 [ci skip] chore: update default service configuration files
  node/src/main/resources/files/bungee/config.yml
  node/src/main/resources/files/glowstone/glowstone.yml
  node/src/main/resources/files/nms/bukkit.yml
  node/src/main/resources/files/nms/server.properties
  node/src/main/resources/files/nms/spigot.yml
  node/src/main/resources/files/nms/sponge.conf
  node/src/main/resources/files/nukkit/nukkit.yml
  node/src/main/resources/files/nukkit/server.properties
  node/src/main/resources/files/velocity/velocity.toml
  node/src/main/resources/files/waterdogpe/config.yml
Labels: v: 4.X, in: node

#732 chore: improve host address extraction when used
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/CloudNetCloudflareModule.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
Labels: v: 4.X, in: node, t: improvement

#731 chore: improve port resolution during service configuration
  node/src/main/java/eu/cloudnetservice/node/service/defaults/factory/AbstractServiceFactory.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
Labels: v: 4.X, in: node, t: improvement

#739 [ci skip] fix: runtime should be non-null but is marked as nullable
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceTask.java
Labels: v: 4.X, in: driver, t: fix

#734 fix: expose tcp and udp port of service in docker container
  modules/dockerized-services/src/main/java/eu/cloudnetservice/modules/docker/DockerizedService.java
Labels: v: 4.X, t: fix, in: module

#736 [ci skip] build: improve generated javadocs
  build-extensions/src/main/kotlin/publishing-extensions.kt
  build.gradle.kts
Labels: v: 4.X, t: documentation

#737 fix: allow setting commands to null
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
Labels: v: 4.X, in: node, t: improvement

#742 chore: misc dependency updates
  gradle/libs.versions.toml
Labels: v: 4.X, t: dependencies
