Repository CloudNetService/CloudNet, pull requests merged in 2022-06, with the labels that each got.

#676 build: use cloudnet branch dependency for cloud command framework
  gradle/libs.versions.toml
Labels: v: 4.X, in: node, t: fix

#677 fix: Change order of args for regex error message
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: fix

#675 Fix that java executable parsing fails
  node/src/main/java/eu/cloudnetservice/node/command/exception/CommandExceptionHandler.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/java/eu/cloudnetservice/node/event/command/CommandInvalidSyntaxEvent.java
  node/src/main/java/eu/cloudnetservice/node/util/JavaVersionResolver.java
Labels: v: 4.X, in: node, t: fix

#673 Make collections in builders modifiable
  driver/src/main/java/eu/cloudnetservice/driver/service/GroupConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ProcessConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfigurationBase.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceDeployment.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceEnvironmentType.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceId.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceTask.java
  driver/src/test/java/eu/cloudnetservice/driver/network/rpc/object/DefaultObjectMapperTest.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/config/ProxyFallback.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/configuration/SignsConfiguration.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/SignCommand.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/configuration/NodeSignsConfigurationHelper.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/util/SignEntryTaskSetup.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyConfiguration.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyLoginConfiguration.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/node/command/SyncProxyCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/GroupsCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/NodeCloudServiceFactory.java
  node/src/main/java/eu/cloudnetservice/node/setup/DefaultTaskSetup.java
  node/src/main/java/eu/cloudnetservice/node/setup/SpecificTaskSetup.java
Labels: v: 4.X, in: driver, t: improvement, in: module

#680 [ci skip] chore: require console sender for service screen command
  node/src/main/java/eu/cloudnetservice/node/command/sub/ServiceCommand.java
Labels: v: 4.X, in: node, t: improvement

#681 [ci skip] chore: remove & disallow usages of jetbrains NotNull annotation
  checkstyle.xml
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/ApiImplementationGenerator.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/BungeeCordDirectPlayerExecutor.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/nukkit/NukkitSignManagement.java
  plugins/papi-expansion/src/main/java/eu/cloudnetservice/plugins/papi/CloudNetPapiExpansion.java
Labels: v: 4.X, t: improvement

#682 fix: Replace Set.copyOf with ImmutableSet.copyOf to preserve order
  driver/src/main/java/eu/cloudnetservice/driver/service/GroupConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ProcessConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfigurationBase.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceEnvironmentType.java
Labels: v: 4.X, in: driver, t: fix

#683 [ci skip] add 1.19 to template installer
  cloudnet/src/main/resources/files/versions.json
Labels: v: 3.X, in: node

#684 chore: start node process in separate sub process
  gradle/libs.versions.toml
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/ApplicationBootstrap.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/CloudNetLauncher.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/dependency/DependencyHelper.java
  launcher/java17/src/main/resources/launcher.cnl
  node/src/main/java/eu/cloudnetservice/node/Node.java
  node/src/main/java/eu/cloudnetservice/node/service/CloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/DefaultCloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/JVMService.java
Labels: v: 4.X, in: node, t: improvement, in: launcher

#685 chore: add 1.19 to version installer
  .idea/codeStyles/Project.xml
  build.gradle.kts
  gradle/libs.versions.toml
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/FabricDirectPlayerExecutor.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/mixin/forwarding/ServerHandshakePacketListenerMixin.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/mixin/forwarding/ServerLoginPacketListenerMixin.java
  modules/bridge/src/main/resources/cloudnet_bridge.accesswidener
  modules/bridge/src/main/resources/fabric.mod.json
  node/src/main/java/eu/cloudnetservice/node/service/defaults/JVMService.java
  node/src/main/resources/files/nms/server.properties
  node/src/main/resources/files/versions.json
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
Labels: v: 4.X, in: node, in: module

#686 chore: update for new cloud command framework version
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCaptionVariableReplacementHandler.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/node/command/exception/CommandExceptionHandler.java
Labels: p: high, v: 4.X, in: node, t: fix, t: dependencies

#687 [ci skip] chore: misc dependency updates
  gradle/libs.versions.toml
Labels: v: 4.X, t: dependencies

#688 [ci skip] chore: switch to our cloud framework fork
  gradle/libs.versions.toml
Labels: v: 4.X, in: node, t: dependencies

#689 [ci skip] fix: either use new or old constructor of ServerListPingEvent
  build.gradle
  cloudnet-modules/cloudnet-bridge/src/main/java/de/dytanic/cloudnet/ext/bridge/bukkit/BukkitCloudNetBridgePlugin.java
Labels: t: bug, v: 3.X, p: high, in: module

#691 fix: use new cloud failure reason getter
  node/src/main/java/eu/cloudnetservice/node/command/exception/CommandExceptionHandler.java
Labels: v: 4.X, in: node, t: dependencies

#693 chore: misc dependency updates
  build-extensions/src/main/kotlin/Versions.kt
  gradle/libs.versions.toml
Labels: v: 4.X, t: dependencies

#694 chore: upgrade to netty 5
  driver/build.gradle.kts
  driver/src/main/java/eu/cloudnetservice/driver/network/exception/SilentDecoderException.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyNetworkChannel.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyNetworkHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettySslServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyTransport.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyDataBufFactory.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyImmutableDataBuf.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyMutableDataBuf.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClient.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClientHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClientInitializer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketDecoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketEncoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/VarInt32FrameDecoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/VarInt32FramePrepender.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpChannel.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpMessage.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerContext.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerInitializer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerRequest.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerResponse.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyIdleStateHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyWebSocketServerChannel.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyWebSocketServerChannelHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServerHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServerInitializer.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpServerTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/NettyUtilTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketCodecTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/codec/VarIntCodecTest.java
  gradle/libs.versions.toml
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/listener/PlatformChannelMessageListener.java
  wrapper-jvm/build.gradle.kts
Labels: v: 4.X, in: driver, t: improvement, t: dependencies
