Repository CloudNetService/CloudNet, pull requests merged in 2022-09, with the labels that each got.

#834 [ci skip] chore: remove all references to major version in texts
  README.md
  launcher/java8/src/main/java/eu/cloudnetservice/launcher/java8/Launcher.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyLoginConfiguration.java
  node/src/main/resources/files/bungee/config.yml
  node/src/main/resources/files/velocity/velocity.toml
  node/src/main/resources/files/waterdogpe/config.yml
Labels: v: 4.X, in: node

#831 feat: switch to npc-lib v2
  gradle/libs.versions.toml
  modules/npcs/build.gradle.kts
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/NPC.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/configuration/NPCPoolOptions.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/CloudNetNPCModule.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/NodeNPCManagement.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/BukkitNPCPlugin.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/BukkitPlatformNPCManagement.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/command/NPCCommand.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/BukkitPlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/EntityBukkitPlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/NPCBukkitPlatformSelector.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/listener/BukkitFunctionalityListener.java
  modules/npcs/src/main/resources/plugin.minecraft_server.yml
Labels: v: 4.X, t: fix, t: improvement, in: module

#836 [ci skip] chore: clarify & improve readme
  .img/header.png
  README.md
Labels: v: 4.X, t: documentation

#835 fix: only use fallback with forced host on initial connect
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/PlatformBridgeManagement.java
Labels: v: 4.X, t: fix, in: module

#840 [ci skip] git: add fleet settings folder to gitignore
  .gitignore
Labels: v: 4.X

#841 chore: migrate http abstraction to new netty header/cookie api
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerContext.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerRequest.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerResponse.java
  driver/src/test/java/eu/cloudnetservice/driver/network/http/NettyHttpServerTest.java
Labels: v: 4.X, in: driver, t: fix

#842 fix: Remove `api` from the `io.netty5.buffer.api` package path
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyUtil.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyDataBufFactory.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyImmutableDataBuf.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyMutableDataBuf.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketDecoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketEncoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/VarInt32FrameDecoder.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/codec/VarInt32FramePrepender.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerContext.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyHttpServerResponse.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/http/NettyWebSocketServerChannel.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/NettyUtilTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/codec/NettyPacketCodecTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/netty/codec/VarIntCodecTest.java
Labels: v: 4.X, in: driver, t: fix

#844 fix(node): correctly rewrite bungeecord listeners in the config
  node/src/main/java/eu/cloudnetservice/node/service/defaults/config/BungeeConfigurationPreparer.java
Labels: v: 4.X, in: node, t: fix

#845 chore(bridge): handle cloud service removes for remote services as well
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/listener/BridgeLocalProxyPlayerDisconnectListener.java
Labels: v: 4.X, in: node, t: improvement

#851 chore: improve component convert between platforms
  ext/adventure-helper/build.gradle.kts
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/adventure/AdventureSerializerUtil.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/AdventureComponentFormat.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/BungeeComponentFormat.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/ComponentConverter.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/ComponentFormat.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/ComponentFormats.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/JavaEditionComponentFormat.java
  ext/adventure-helper/src/main/java/eu/cloudnetservice/ext/component/MappingConverter.java
  ext/adventure-helper/src/test/java/eu/cloudnetservice/ext/component/ComponentFormatsTest.java
  gradle/libs.versions.toml
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/command/PlayersCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/network/NodePlayerChannelMessageListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/bungeecord/BungeeCordHelper.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/minestom/MinestomPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/VelocityPlayerManagementListener.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/commands/VelocityCloudCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/velocity/commands/VelocityHubCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/WaterDogPEDirectPlayerExecutor.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/command/WaterDogPECloudCommand.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/waterdog/command/WaterDogPEHubCommand.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/minestom/MinestomPlatformSign.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/sponge/SpongePlatformSign.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/velocity/VelocitySyncProxyListener.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/velocity/VelocitySyncProxyManagement.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/waterdog/WaterDogPESyncProxyManagement.java
  plugins/chat/src/main/java/eu/cloudnetservice/plugins/chat/MinestomChatExtension.java
  plugins/chat/src/main/java/eu/cloudnetservice/plugins/chat/SpongeChatPlugin.java
  plugins/simplenametags/src/main/java/eu/cloudnetservice/plugins/simplenametags/minestom/MinestomSimpleNameTagsManager.java
  plugins/simplenametags/src/main/java/eu/cloudnetservice/plugins/simplenametags/sponge/SpongeSimpleNameTagsManager.java
Labels: v: 4.X, t: fix

#852 chore: improve cache keys for rpc method invocation
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/handler/DefaultRPCHandler.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/sender/DefaultRPCSender.java
Labels: v: 4.X, in: driver, t: fix

#854 chore: prevent possible invalid cast when using DataBuf#readString
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/buffer/NettyImmutableDataBuf.java
Labels: v: 4.X, in: driver, t: fix

#855 chore: remove the connect host address from the json configuration
  node/src/main/java/eu/cloudnetservice/node/config/JsonConfiguration.java
Labels: v: 4.X, in: node, t: fix

#870 fix: copy jvmArguments and processArguments always into linked sets
  driver/src/main/java/eu/cloudnetservice/driver/service/ProcessConfiguration.java
  driver/src/main/java/eu/cloudnetservice/driver/service/ServiceConfigurationBase.java
Labels: v: 4.X, in: node, t: fix

#876 [ci skip] fix: correctly specify the command to use to install server jars
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, t: fix

#877 fix: correctly convert npcs and ensure correct scoreboards
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/CloudNetNPCModule.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/CloudNetServiceListener.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/PlatformNPCManagement.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/PlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/BukkitPlatformNPCManagement.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/BukkitPlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/NPCBukkitPlatformSelector.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/listener/BukkitFunctionalityListener.java
Labels: v: 4.X, t: fix, in: module
