Repository CloudNetService/CloudNet, pull requests merged in 2022-03, with the labels that each got.

#622 Document the whole driver service package
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/CloudNetDriver.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/GroupConfiguration.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ProcessConfiguration.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ProcessSnapshot.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceConfiguration.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceConfigurationBase.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceDeployment.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceEnvironment.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceEnvironmentType.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceId.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceInfoSnapshot.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceLifeCycle.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceRemoteInclusion.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceTask.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceTemplate.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ThreadSnapshot.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/DefaultFunctionalServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/DefaultJsonServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/DefaultModifiableServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/FunctionalServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/JsonServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/ServiceProperty.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/property/TransformingServiceProperty.java
  driver/src/test/java/eu/cloudnetservice/cloudnet/driver/network/rpc/object/DefaultObjectMapperTest.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/BridgeServiceProperties.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/cluster/util/NodeServerUtil.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandGroups.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandService.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTasks.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/service/defaults/AbstractService.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/service/defaults/NodeCloudServiceFactory.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/setup/DefaultTaskSetup.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/setup/SpecificTaskSetup.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/cloudnet/wrapper/Wrapper.java
Labels: v: 4.X, in: driver, t: documentation

#623 Document the io package of the common module
  common/src/main/java/eu/cloudnetservice/cloudnet/common/io/FileUtil.java
  common/src/main/java/eu/cloudnetservice/cloudnet/common/io/ZipUtil.java
  common/src/main/java/eu/cloudnetservice/cloudnet/common/language/I18n.java
  common/src/test/java/eu/cloudnetservice/cloudnet/common/io/ZipUtilTest.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/util/DefaultModuleHelper.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/module/updater/ModuleUpdaterRegistry.java
Labels: v: 4.X, t: documentation, in: common

#624 Fix s3 directory exceptions
  modules/storage-s3/src/main/java/eu/cloudnetservice/modules/s3/S3TemplateStorage.java
Labels: v: 4.X, t: improvement, in: module

#626 feat(common): Improve wildcard handling to fix all types of groups
  common/src/main/java/eu/cloudnetservice/cloudnet/common/WildcardUtil.java
  common/src/test/java/eu/cloudnetservice/cloudnet/common/WildcardUtilTest.java
Labels: v: 4.X, t: improvement, in: common

#627 chore: configure renovate
  .github/renovate.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle.yml
Labels: v: 4.X, t: improvement

#621 Document the driver permission package
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/CloudNetDriver.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/AbstractPermissible.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/CachedPermissionManagement.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/DefaultCachedPermissionManagement.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/DefaultPermissionManagement.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/Permissible.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/Permission.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/PermissionCheckResult.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/PermissionGroup.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/PermissionManagement.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/PermissionUser.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/permission/PermissionUserGroupInfo.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bukkit/vault/VaultPermissionImplementation.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/sponge/service/permissible/PermissibleSubjectData.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandPermissions.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/permission/DefaultDatabasePermissionManagement.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/cloudnet/wrapper/permission/WrapperPermissionManagement.java
Labels: v: 4.X, in: driver, t: documentation

#632 Document events in the bridge module
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeConfigurationUpdateEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeDeleteCloudOfflinePlayerEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeProxyPlayerDisconnectEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeProxyPlayerLoginEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeProxyPlayerServerSwitchEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeServerPlayerDisconnectEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeServerPlayerLoginEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeUpdateCloudOfflinePlayerEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/event/BridgeUpdateCloudPlayerEvent.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/event/LocalPlayerPreLoginEvent.java
Labels: v: 4.X, t: documentation, in: module

#629 Document the concurrent package in the common module
  common/src/main/java/eu/cloudnetservice/cloudnet/common/concurrent/CountingTask.java
  common/src/main/java/eu/cloudnetservice/cloudnet/common/concurrent/ListenableTask.java
  common/src/main/java/eu/cloudnetservice/cloudnet/common/concurrent/Task.java
Labels: v: 4.X, t: documentation, in: common

#634 Cleanup the reflection mess
  driver/build.gradle.kts
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/util/define/LookupClassDefiner.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/util/define/UnsafeAccess.java
  gradle/libs.versions.toml
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/bukkit/BukkitPermissionHelper.java
  modules/cloudperms/src/main/java/eu/cloudnetservice/modules/cloudperms/nukkit/NukkitPermissionInjectionHelper.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/BukkitPlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/EntityBukkitPlatformSelectorEntity.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/util/ReflectionUtil.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/platform/bukkit/BukkitCompatibility.java
  plugins/simplenametags/src/main/java/eu/cloudnetservice/plugins/simplenametags/bukkit/BukkitCompatibility.java
Labels: v: 4.X, t: improvement

#636 feat: allow installation of service versions to static services
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerServiceVersionProvider.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/CloudNet.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandVersion.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/setup/DefaultTaskSetup.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/setup/SpecificTaskSetup.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/TemplateStorageUtil.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/install/InstallInformation.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/ServiceVersion.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/ServiceVersionProvider.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/ServiceVersionType.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/InstallStep.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/InstallStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/BuildStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/CopyFilterStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/DeployStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/DownloadStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/FabricApiVersionFetch.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/PaperApiVersionFetchStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/execute/defaults/UnzipStepExecutor.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/information/FileSystemVersionInstaller.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/information/TemplateVersionInstaller.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/information/VersionInstaller.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: improvement

#641 chore: add template storage docs & small cleanup
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceTemplate.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/FileInfo.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/SpecificTemplateStorage.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/TemplateStorage.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/defaults/DefaultSpecificTemplateStorage.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/defaults/RemoteTemplateStorage.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplate.java
  modules/storage-s3/src/main/java/eu/cloudnetservice/modules/s3/S3TemplateStorage.java
  modules/storage-s3/src/test/java/eu/cloudnetservice/modules/s3/S3TemplateStorageTest.java
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorage.java
  modules/storage-sftp/src/test/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorageTest.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandCluster.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/event/template/ServiceTemplateInstallEvent.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/network/chunk/TemplateDeployCallback.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/service/defaults/AbstractService.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/LocalTemplateStorage.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/TemplateStorageUtil.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/listener/TemplatePrepareListener.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/version/information/TemplateVersionInstaller.java
  node/src/test/java/eu/cloudnetservice/cloudnet/node/template/LocalTemplateStorageTest.java
Labels: v: 4.X, in: driver, t: documentation

#643 chore: finish up driver api changes & docs
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/CloudNetDriver.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/CloudNetVersion.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/DriverEnvironment.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/channel/ChannelMessage.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/channel/ChannelMessageSender.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/module/driver/DriverModule.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/network/netty/NettyUtil.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceTemplate.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/TemplateStorageProvider.java
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/template/defaults/RemoteTemplateStorage.java
  driver/src/test/java/eu/cloudnetservice/cloudnet/driver/DriverTestUtil.java
  driver/src/test/java/eu/cloudnetservice/cloudnet/driver/event/DefaultEventManagerTest.java
  driver/src/test/java/eu/cloudnetservice/cloudnet/driver/network/netty/NettyUtilTest.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/PlatformBridgeManagement.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/PlatformPlayerManager.java
  modules/labymod/src/main/java/eu/cloudnetservice/modules/labymod/platform/PlatformLabyModManagement.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplateStorages.java
  modules/storage-s3/src/main/java/eu/cloudnetservice/modules/s3/S3TemplateStorage.java
  modules/storage-sftp/src/main/java/eu/cloudnetservice/modules/sftp/SFTPTemplateStorage.java
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/PlatformSyncProxyManagement.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/CloudNet.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/cluster/defaults/RemoteNodeServer.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandCluster.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTemplate.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/network/chunk/FileDeployCallbackListener.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/network/chunk/TemplateDeployCallback.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/network/chunk/TemplateFileDeployCallback.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/permission/DefaultDatabasePermissionManagement.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/provider/NodeClusterNodeProvider.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/provider/NodeGroupConfigurationProvider.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/provider/NodeServiceTaskProvider.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/service/defaults/DefaultCloudServiceManager.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/service/defaults/NodeCloudServiceFactory.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/LocalTemplateStorage.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/template/NodeTemplateStorageProvider.java
  node/src/test/java/eu/cloudnetservice/cloudnet/driver/NodeTestUtility.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/cloudnet/wrapper/Wrapper.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/cloudnet/wrapper/provider/WrapperTemplateStorageProvider.java
Labels: v: 4.X, in: driver, t: documentation, t: improvement

#642 feat: Add name splitter to the task command
  driver/src/main/java/eu/cloudnetservice/cloudnet/driver/service/ServiceTask.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/CloudNetBridgeModule.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/command/CommandBridge.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/configuration/SignConfigurationEntry.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/CloudNet.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/exception/CommandExceptionHandler.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandTasks.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/setup/SpecificTaskSetup.java
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, t: improvement

#644 Handle auth header differend as permission test
  modules/rest/src/main/resources/documentation/swagger.json
  node/src/main/java/eu/cloudnetservice/cloudnet/node/http/V2HttpHandler.java
Labels: v: 4.X, in: node, t: improvement

#646 fix: prevent runtime reloading of critical information
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerNode.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/CloudNet.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/command/sub/CommandConfig.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/config/Configuration.java
  node/src/main/java/eu/cloudnetservice/cloudnet/node/config/JsonConfiguration.java
Labels: v: 4.X, in: node, t: fix
