Repository CloudNetService/CloudNet, pull requests merged in 2023-02, with the labels that each got.

#1100 fix: use flags instead of optional arguments when modifying groups
  node/src/main/java/eu/cloudnetservice/node/command/sub/PermissionsCommand.java
Labels: v: 4.X, in: node, t: fix

#1116 chore: remove ip address scope when checking if an ip address is whitelisted
  node/src/main/java/eu/cloudnetservice/node/network/DefaultNetworkServerChannelHandler.java
  node/src/main/java/eu/cloudnetservice/node/util/NetworkUtil.java
Labels: v: 4.X, in: node, t: improvement

#1118 feat: add java 21 to the java version enum
  common/src/main/java/eu/cloudnetservice/common/JavaVersion.java
Labels: v: 4.X, t: improvement, in: common

#1111 fix: the server selector types provide the correct comparators
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/player/executor/ServerSelectorType.java
Labels: v: 4.X, t: fix, in: module

#1108 [ci skip] ci: automatically remove deleted branches from launchermeta
  .github/workflows/delete-launchermeta-branch.yml
Labels: v: 4.X, t: ci

#1129 feat: add event to modify a service configuration before creation
  node/src/main/java/eu/cloudnetservice/node/event/service/CloudServiceConfigurationPrePrepareEvent.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/NodeCloudServiceFactory.java
Labels: v: 4.X, in: node, t: improvement

#1128 build: resolve gradle 8 deprecation warning
  wrapper-jvm/build.gradle.kts
Labels: v: 4.X, t: fix, in: wrapper

#1130 chore: add a channel initializer that only sets supported options
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/NettyOptionSettingChannelInitializer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClient.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/client/NettyNetworkClientInitializer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServer.java
  driver/src/main/java/eu/cloudnetservice/driver/network/netty/server/NettyNetworkServerInitializer.java
Labels: v: 4.X, in: driver, t: improvement

#1123 fix: offset the parameter index when generating rpc implementations for long types.
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/ApiImplementationGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/ChainedApiImplementationGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/util/asm/StackIndexHelper.java
  driver/src/test/java/eu/cloudnetservice/driver/network/rpc/generation/api/RPCImplementationGeneratorTest.java
  driver/src/test/java/eu/cloudnetservice/driver/network/rpc/generation/api/TestRPCParameters.java
Labels: v: 4.X, in: driver, t: fix

#1133 chore: replace usages of TypeToken with geantyref
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/MethodInformation.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/handler/invoker/MethodInvokerGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/object/data/DataClassInvokerGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/permission/PermissionGroup.java
  driver/src/test/java/eu/cloudnetservice/driver/network/rpc/object/DefaultObjectMapperTest.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/BridgeServiceProperties.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/WorldPosition.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/CloudNetBridgeModule.java
  modules/cloudflare/src/main/java/eu/cloudnetservice/modules/cloudflare/cloudflare/CloudFlareRecordManager.java
  modules/database-mysql/src/main/java/eu/cloudnetservice/modules/mysql/CloudNetMySQLDatabaseModule.java
  modules/labymod/src/main/java/eu/cloudnetservice/modules/labymod/node/CloudNetLabyModModule.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/NPC.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/CloudNetNPCModule.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/node/listeners/NodeChannelMessageListener.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerDatabase.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/Sign.java
  modules/signs/src/main/java/eu/cloudnetservice/modules/signs/node/NodeSignsListener.java
  node/src/main/java/eu/cloudnetservice/node/cluster/defaults/RemoteNodeServer.java
  node/src/main/java/eu/cloudnetservice/node/command/defaults/DefaultCommandProvider.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeGroupConfigurationProvider.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeMessenger.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/BuildStepExecutor.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/CopyFilterStepExecutor.java
  node/src/main/java/eu/cloudnetservice/node/version/execute/defaults/PaperApiVersionFetchStepExecutor.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/provider/WrapperMessenger.java
Labels: v: 4.X, t: improvement

#1137 build: resolve compile issues after opencollab repo switch
  ext/platform-inject-support/runtime/build.gradle.kts
  modules/build.gradle.kts
  plugins/build.gradle.kts
Labels: v: 4.X, t: fix

#1136 fix: split basic auth into max. two parts to allow ':' in passwords
  node/src/main/java/eu/cloudnetservice/node/http/V2HttpAuthentication.java
Labels: v: 4.X, in: node, t: fix

#1139 chore: bump npc-lib to beta3
  gradle/libs.versions.toml
Labels: v: 4.X, in: module, t: dependencies

#1142 chore: add better equals/hashCode implementation for NetworkClusterNode
  driver/src/main/java/eu/cloudnetservice/driver/network/cluster/NetworkClusterNode.java
Labels: v: 4.X, in: driver, t: improvement

#1143 fix: correctly bind plugin instance to bungee plugin injector
  ext/platform-inject-support/runtime/src/main/java/eu/cloudnetservice/ext/platforminject/runtime/platform/bungeecord/BungeeCordPlatformPluginManager.java
Labels: v: 4.X, t: fix, in: plugin inject
