Repository CloudNetService/CloudNet, pull requests merged in 2023-07, with the labels that each got.

#1269 fix: Switch HTTP-Methods for Session Rest-Handler from GET to POST
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerSession.java
Labels: t: fix

#1221 fix: the launchers memory should not effect the node memory
  .template/start.bat
  .template/start.command
  .template/start.sh
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/ApplicationBootstrap.java
  launcher/java17/src/main/java/eu/cloudnetservice/launcher/java17/CloudNetLauncher.java
  launcher/java17/src/main/resources/launcher.cnl
Labels: v: 4.X, t: fix, in: launcher

#1271 fix: rest docs wording & change command POST endpoint
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerCluster.java
  modules/rest/src/main/resources/documentation/swagger.json
Labels: v: 4.X, t: documentation, in: module

#1233 [ci skip] chore: bridge message typo
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/config/BridgeConfiguration.java
Labels: v: 4.X, t: fix, in: module

#1254 fix: correctly replace placeholders in syncproxy tablist
  modules/syncproxy/src/main/java/eu/cloudnetservice/modules/syncproxy/platform/PlatformSyncProxyManagement.java
Labels: v: 4.X, t: fix, in: module

#1278 fix: correctly ignore EOT signals
  node/src/main/java/eu/cloudnetservice/node/console/ConsoleReadThread.java
Labels: v: 4.X, in: node, t: fix
