Repository CloudNetService/CloudNet, pull requests merged in 2024-10, with the labels that each got.

#1526 fix: command parameter injection service
  node/src/main/java/eu/cloudnetservice/node/command/defaults/AerogelInjectionService.java
Labels: v: 4.X, in: node, t: fix

#1527 fix: typo in tasks set javaCommand command response
  node/src/main/java/eu/cloudnetservice/node/command/sub/TasksCommand.java
Labels: v: 4.X, in: node, t: fix

#1528 fix: remove dev command translations & sync german translations
  node/src/main/java/eu/cloudnetservice/node/command/sub/DevCommand.java
  node/src/main/resources/lang/de_DE.properties
Labels: v: 4.X, in: node, t: improvement

#1507 chore: use java 23
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-release.yml
  .github/workflows/gradle.yml
  Dockerfile
  README.md
  build-extensions/src/main/kotlin/publishing-extensions.kt
  build.gradle.kts
  common/src/test/java/eu/cloudnetservice/common/jvm/JavaVersionTest.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/BasicRPCMethodGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/ChainedRPCMethodGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/generation/RPCImplementationGenerator.java
  driver/src/main/java/eu/cloudnetservice/driver/network/rpc/defaults/object/data/DataClassCodecGenerator.java
  gradle/libs.versions.toml
  launcher/java8/src/main/java/eu/cloudnetservice/launcher/java8/Launcher.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/FabricBridgeInitializer.java
  modules/dockerized-services/src/main/java/eu/cloudnetservice/modules/docker/DockerizedServicesModule.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/VersionCommand.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeServiceTaskProvider.java
  plugins/luckperms/src/main/java/eu/cloudnetservice/plugins/luckperms/FabricLuckPermsPlugin.java
Labels: v: 4.X

#1531 feat: add cloudnet rest module to modules.json
  modules.json
Labels: v: 4.X

#1538 [ci skip] chore: improve/update renovate configuration
  .github/renovate.json
  .github/renovate.json5
Labels: v: 4.X

#1537 [ci skip] build: increase max heap memory to 5GB
  gradle.properties
Labels: v: 4.X

#1536 fix: wrong java version in translation
  node/src/main/resources/lang/de_DE.properties
  node/src/main/resources/lang/en_US.properties
Labels: v: 4.X, in: node, t: fix, t: translation

#1534 fix: add the default task setup back to the initial setup
  node/src/main/java/eu/cloudnetservice/node/Node.java
Labels: v: 4.X, in: node, t: fix

#1535 fix: commodore class remap on latest spigot versions
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/transform/bukkit/BukkitCommodoreTransformer.java
Labels: v: 4.X, t: fix, in: wrapper

#1533 fix: disable spark async profiler on non-arm based systems
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/transform/spark/OldAsyncProfilerDisableTransformer.java
  wrapper-jvm/src/main/resources/META-INF/services/eu.cloudnetservice.wrapper.transform.ClassTransformer
Labels: v: 4.X, t: fix, in: wrapper
