Repository CloudNetService/CloudNet, pull requests merged in 2024-02, with the labels that each got.

#1351 feat: support minecraft 1.20.4
  gradle/libs.versions.toml
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/platform/fabric/FabricBridgeInitializer.java
  node/src/main/resources/files/versions.json
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/Wrapper.java
  wrapper-jvm/src/main/java/eu/cloudnetservice/wrapper/transform/fabric/KnotClassDelegateTransformer.java
Labels: v: 4.X

#1355 fix: generate velocity secret when creating new velocity templates
  node/src/main/java/eu/cloudnetservice/node/template/listener/TemplatePrepareListener.java
Labels: v: 4.X, in: node, t: fix

#1349 fix: ensure that npcs are removed correctly
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/PlatformNPCManagement.java
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/BukkitNPCPlugin.java
Labels: v: 4.X, t: fix, in: module

#1326 feat: implement Externalizable for Document
  driver/src/main/java/eu/cloudnetservice/driver/document/Document.java
  driver/src/main/java/eu/cloudnetservice/driver/document/empty/EmptyDocument.java
  driver/src/main/java/eu/cloudnetservice/driver/document/gson/ImmutableGsonDocument.java
  driver/src/main/java/eu/cloudnetservice/driver/document/gson/MutableGsonDocument.java
  driver/src/test/java/eu/cloudnetservice/driver/document/DocumentSerialisationTest.java
Labels: v: 4.X, in: driver, t: improvement, a: api

#1321 feat: support the adventure format in npc armorstand names
  modules/npcs/src/main/java/eu/cloudnetservice/modules/npc/platform/bukkit/entity/BukkitPlatformSelectorEntity.java
Labels: t: feature request, v: 4.X, in: module

#1274 fix: group configurations are not upgraded correctly
  driver/src/main/java/eu/cloudnetservice/driver/document/Document.java
  driver/src/main/java/eu/cloudnetservice/driver/document/empty/EmptyDocument.java
  driver/src/main/java/eu/cloudnetservice/driver/document/gson/ImmutableGsonDocument.java
  driver/src/test/java/eu/cloudnetservice/driver/document/DocumentTest.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeGroupConfigurationProvider.java
  node/src/main/java/eu/cloudnetservice/node/provider/NodeServiceTaskProvider.java
Labels: v: 4.X, in: node, in: driver, t: fix, a: api

#1236 chore: drop getter prefixes in the service version provider
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/CloudNetBridgeModule.java
  modules/bridge/src/main/java/eu/cloudnetservice/modules/bridge/node/listener/NodeSetupListener.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerServiceVersionProvider.java
  modules/rest/src/main/java/eu/cloudnetservice/modules/rest/v2/V2HttpHandlerTemplate.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/TemplateCommand.java
  node/src/main/java/eu/cloudnetservice/node/command/sub/VersionCommand.java
  node/src/main/java/eu/cloudnetservice/node/console/animation/setup/answer/Parsers.java
  node/src/main/java/eu/cloudnetservice/node/service/defaults/factory/BaseLocalCloudServiceFactory.java
  node/src/main/java/eu/cloudnetservice/node/version/ServiceVersionProvider.java
Labels: v: 4.X, in: node, t: fix
