Repository CloudNetService/CloudNet, pull requests merged in 2025-07, with the labels that each got.

#1676 feat: support minecraft 1.21.7
  gradle/libs.versions.toml
  node/impl/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, t: platform, in: module

#1681 fix: unsafe transformer disable system property
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/Premain.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeTransformer.java
Labels: p: high, v: 4.X, t: fix, in: wrapper

#1670 feat: split sign text color and glowing setting
  modules/signs/api/src/main/java/eu/cloudnetservice/modules/signs/configuration/SignLayout.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/node/configuration/NodeSignsConfigurationHelper.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/bukkit/BukkitCompatibility.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/bukkit/BukkitPlatformSign.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/MinestomPlatformSign.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/MinestomSignBlockHandler.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/MinestomSignManagement.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/event/MinestomCloudSignInteractEvent.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/functionality/SignsCommand.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/nukkit/NukkitPlatformSign.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/sponge/SpongePlatformSign.java
Labels: v: 4.X, t: improvement, in: module

#1683 fix: compute field offsets per-class instead of globally
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/FieldOffsetOps.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDefiner.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDelegate.java
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDelegateTest.java
Labels: v: 4.X, t: fix, in: wrapper

#1684 chore: fetch all paper downloads from api
  node/impl/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, t: improvement

#1687 chore: improve channel messaging and address memory leaks
  driver/api/src/main/java/eu/cloudnetservice/driver/channel/ChannelMessage.java
  driver/api/src/main/java/eu/cloudnetservice/driver/channel/ChannelMessageSender.java
  driver/api/src/main/java/eu/cloudnetservice/driver/channel/ChannelMessageTarget.java
  driver/api/src/main/java/eu/cloudnetservice/driver/network/buffer/DataBuf.java
  driver/api/src/main/java/eu/cloudnetservice/driver/network/chunk/ChunkSessionInformation.java
  driver/api/src/main/java/eu/cloudnetservice/driver/provider/CloudMessenger.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/ChunkedSessionRegistry.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/DefaultFileChunkPacketSender.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/DefaultFileChunkedPacketHandler.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/builder/DefaultChunkedFileQueryBuilder.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/network/ChunkedPacketListener.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/NettyNetworkHandler.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/NettyUtil.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/buffer/NettyImmutableDataBuf.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/buffer/NettyMutableDataBuf.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/codec/NettyPacketDecoder.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/rpc/listener/RPCPacketListener.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/rpc/rpc/RPCResultMapper.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/node/player/NodePlayerExecutor.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/platform/helper/ProxyPlatformHelper.java
  modules/npcs/impl/src/main/java/eu/cloudnetservice/modules/npc/impl/platform/PlatformNPCManagement.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/PlatformSignManagement.java
  modules/syncproxy/api/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyConfiguration.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/defaults/RemoteNodeServer.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/util/NodeDisconnectHandler.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/AuthorizationResponsePacketListener.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/ChannelMessagePacketListener.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/ServiceSyncAckPacketListener.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/provider/NodeCloudMessenger.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/provider/NodeMessenger.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/AbstractService.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/NodeCloudServiceFactory.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/network/listener/ChannelMessagePacketListener.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/provider/WrapperMessenger.java
Labels: v: 4.X, t: improvement

#1694 fix: complete pending queries when channel is closed
  driver/api/src/main/java/eu/cloudnetservice/driver/network/NetworkChannel.java
  driver/api/src/main/java/eu/cloudnetservice/driver/network/protocol/QueryPacketManager.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/DefaultNetworkChannel.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/NettyNetworkChannel.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/NettyNetworkHandler.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/protocol/DefaultQueryPacketManager.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/util/QueuedNetworkChannel.java
Labels: v: 4.X, in: driver, t: fix

#1696 chore: don't require fixed ByteBuffer cleaner type
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDelegate.java
Labels: v: 4.X, t: improvement, in: wrapper

#1697 feat: support minecraft 1.21.8
  gradle/libs.versions.toml
  node/impl/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, t: improvement, in: module

#1695 chore: allow re-using channel message builders again
  driver/api/src/main/java/eu/cloudnetservice/driver/channel/ChannelMessage.java
  driver/api/src/main/java/eu/cloudnetservice/driver/event/events/channel/ChannelMessageReceiveEvent.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/builder/DefaultChunkedFileQueryBuilder.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/node/NodeBridgeManagement.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/node/network/NodePlayerChannelMessageListener.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/node/player/NodePlayerExecutor.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/node/player/NodePlayerManager.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/platform/helper/ProxyPlatformHelper.java
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/platform/helper/ServerPlatformHelper.java
  modules/labymod/impl/src/main/java/eu/cloudnetservice/modules/labymod/impl/node/NodeLabyModManagement.java
  modules/npcs/impl/src/main/java/eu/cloudnetservice/modules/npc/impl/node/NodeNPCManagement.java
  modules/npcs/impl/src/main/java/eu/cloudnetservice/modules/npc/impl/platform/PlatformNPCManagement.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/node/NodeSignManagement.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/PlatformSignManagement.java
  modules/syncproxy/api/src/main/java/eu/cloudnetservice/modules/syncproxy/config/SyncProxyConfiguration.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/defaults/DefaultNodeServerProvider.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/defaults/RemoteNodeServer.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/task/LocalNodeUpdateTask.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/cluster/util/NodeDisconnectHandler.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/message/NodeChannelMessageListener.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/message/ServiceChannelMessageListener.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/provider/NodeClusterNodeProvider.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/provider/NodeGroupConfigurationProvider.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/provider/NodeServiceTaskProvider.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/AbstractService.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/NodeCloudServiceFactory.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/ServiceCreateRetryTracker.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/holder/WrapperServiceInfoHolder.java
Labels: v: 4.X, in: driver, t: improvement

#1702 chore: reduce heap usage when doing chunked data transfer
  driver/api/src/main/java/eu/cloudnetservice/driver/network/buffer/DataBuf.java
  driver/api/src/main/java/eu/cloudnetservice/driver/network/chunk/ChunkSessionInformation.java
  driver/api/src/main/java/eu/cloudnetservice/driver/network/chunk/ChunkedPacketSender.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/DefaultFileChunkPacketSender.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/DefaultFileChunkedPacketHandler.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/chunk/network/ChunkedPacket.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/buffer/NettyImmutableDataBuf.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/buffer/NettyMutableDataBuf.java
  driver/impl/src/test/java/eu/cloudnetservice/driver/impl/network/chunk/ChunkedPacketSenderTest.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/command/sub/ClusterCommand.java
Labels: v: 4.X, in: driver, t: improvement

#1703 chore: prevent invalid packets/network state
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/NetworkConstants.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/codec/NettyPacketDecoder.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/codec/NettyPacketEncoder.java
  driver/impl/src/main/java/eu/cloudnetservice/driver/impl/network/netty/codec/VarInt32FrameDecoder.java
Labels: v: 4.X, in: driver, t: improvement

#1704 chore: log file query transfer exceptions
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/chunk/FileQueryChannelMessageListener.java
Labels: v: 4.X, in: node, t: improvement

#1707 chore: update to minestom 2025.07.26
  .github/renovate.json5
  gradle/libs.versions.toml
  modules/bridge/impl/src/main/java/eu/cloudnetservice/modules/bridge/impl/platform/minestom/MinestomBridgeManagement.java
Labels: v: 4.X, in: module, t: dependencies

#1709 chore: remove channel message relay timeout
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/listener/ChannelMessagePacketListener.java
Labels: v: 4.X, in: node, t: improvement
