Repository CloudNetService/CloudNet, pull requests merged in 2025-06, with the labels that each got.

#1645 feat: make command confirmations skippable using extra flag
  node/api/src/main/java/eu/cloudnetservice/node/command/annotation/EnableConfirmSkipFlag.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/command/defaults/DefaultCommandProvider.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/command/sub/ExitCommand.java
Labels: v: 4.X, in: node

#1644 feat: allow subnets in node ip allowlist
  node/impl/src/main/java/eu/cloudnetservice/node/impl/command/sub/ConfigCommand.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/network/DefaultNetworkServerChannelHandler.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/util/IpAllowlist.java
  node/impl/src/main/resources/lang/de_DE.properties
  node/impl/src/main/resources/lang/en_US.properties
  node/impl/src/test/java/eu/cloudnetservice/node/impl/util/IpAllowlistTest.java
  node/impl/src/test/resources/ip_allowlist_test_ips.txt
Labels: v: 4.X, in: node, t: improvement

#1659 feat: allow node host override in docker module
  modules/dockerized-services/api/src/main/java/eu/cloudnetservice/modules/docker/config/DockerConfiguration.java
  modules/dockerized-services/api/src/main/java/eu/cloudnetservice/modules/docker/config/TaskDockerConfig.java
  modules/dockerized-services/impl/src/main/java/eu/cloudnetservice/modules/docker/impl/DockerCommand.java
  modules/dockerized-services/impl/src/main/java/eu/cloudnetservice/modules/docker/impl/DockerizedService.java
  modules/dockerized-services/impl/src/main/java/eu/cloudnetservice/modules/docker/impl/DockerizedServicesModule.java
Labels: v: 4.X, t: improvement, in: module

#1661 fix: add replacement for deprecated methods in sun.misc.Unsafe
  launcher/java22/src/main/java/eu/cloudnetservice/launcher/java22/ApplicationBootstrap.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/service/defaults/log/AbstractServiceLogCache.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/Premain.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/guava/GuavaLittleEndianByteArrayTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/guava/GuavaTransformUtil.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/guava/GuavaUnsafeAtomicHelperTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/guava/GuavaUnsignedBytesTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/ArrayOps.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/FieldOps.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/LazyMemoizingSupplier.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/MemoryControlOps.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/MemoryOps.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/OpConstants.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeLogUtil.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacement.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDefiner.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDelegate.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementMapping.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeUsageTraceLogger.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/ValueTypeKind.java
  wrapper-jvm/impl/src/main/resources/META-INF/services/eu.cloudnetservice.wrapper.transform.ClassTransformer
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/ClassWithFields.java
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeLogUtilTest.java
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementDelegateTest.java
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeReplacementMappingTest.java
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeTransformerTest.java
Labels: v: 4.X, t: fix, t: improvement, in: wrapper

#1650 feat: use java 17 for api components
  build.gradle.kts
  driver/api/build.gradle.kts
  gradle/libs.versions.toml
  modules/cloudflare/api/build.gradle.kts
  modules/cloudflare/api/src/main/java/eu/cloudnetservice/modules/cloudflare/config/CloudflareConfigurationEntry.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/Main.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/Premain.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/Wrapper.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/ClassTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/ClassTransformerRegistry.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/DefaultClassTransformerRegistry.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/asm/AsmClassReaderTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/BukkitJavaVersionCheckTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/FAWEConfigTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/FAWEReflectionUtilsTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/FAWEWorldEditDownloadURLTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/PaperConfigTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/bukkit/WorldEditJava8DetectorTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/netty/OldEpollDisableTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/spark/OldAsyncProfilerDisableTransformer.java
  wrapper-jvm/impl/src/main/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeTransformer.java
  wrapper-jvm/impl/src/main/resources/META-INF/services/eu.cloudnetservice.wrapper.impl.transform.ClassTransformer
  wrapper-jvm/impl/src/test/java/eu/cloudnetservice/wrapper/impl/transform/unsafe/UnsafeTransformerTest.java
Labels: v: 4.X, t: improvement

#1656 feat: allow modifications to log levels using properties
  launcher/java22/src/main/resources/launcher.cnl
  node/impl/src/main/resources/logback.xml
  wrapper-jvm/impl/src/main/resources/logback.xml
Labels: v: 4.X, in: node, t: improvement, in: wrapper

#1672 chore: update minestom to 4fe2993057 (1.21.5)
  ext/platform-inject-support/runtime/src/main/java/eu/cloudnetservice/ext/platforminject/runtime/platform/minestom/MinestomPlatformPluginManager.java
  gradle/libs.versions.toml
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/MinestomSignManagement.java
  modules/signs/impl/src/main/java/eu/cloudnetservice/modules/signs/impl/platform/minestom/functionality/SignsCommand.java
Labels: v: 4.X, t: improvement, in: module

#1673 fix: only handle npc interact when performed with main hand
  modules/npcs/impl/src/main/java/eu/cloudnetservice/modules/npc/impl/platform/bukkit/BukkitCompatibility.java
  modules/npcs/impl/src/main/java/eu/cloudnetservice/modules/npc/impl/platform/bukkit/listener/BukkitFunctionalityListener.java
Labels: v: 4.X, t: fix, in: module

#1671 chore: migrate to paper downloads api v3
  node/impl/src/main/java/eu/cloudnetservice/node/impl/Node.java
  node/impl/src/main/java/eu/cloudnetservice/node/impl/version/execute/defaults/PaperApiVersionFetchStepExecutor.java
  node/impl/src/main/resources/files/versions.json
Labels: v: 4.X, in: node, t: improvement
